body{
    background-image: url('https://images.unsplash.com/photo-1555505019-8c3f1c4aba5f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8d29vZGVuJTIwYmFja2dyb3VuZHxlbnwwfHwwfHw%3D&w=1000&q=80');
    background-size: cover;
}

header{
    font-size: 100px;
    text-align: center;
    font-family: sans-serif;
    border-bottom: 5px solid black;
    max-width: fit-content;
    margin: auto;
}

.recipes p a{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}

.recipes p{
    text-align: center;
    width: 100%;
    max-width: 300px;
    background-color: black;
    margin: 10px auto;
    
}
.img{
    max-width: 100%;
    height: auto;
    
}
h1{
    font-size: 100px;
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.food{
    max-width: 300px;
    max-height: 300px;
    width: 100%;
    display: block;
    margin: auto;
    margin-top: -60px;
}

section{
    padding-top: 20px;
    font-size: 40px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    max-width: 1500px;
    margin: auto;
    
}
.ingredients{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    margin: auto;
    max-width: 1300;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-weight: 500;
    margin-top: 20px;
    border: 5px solid black;
}
.ingredients li{
    margin-right: 20px;
}
.ingredient-title{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    position: absolute;
    left: 70px;
    margin: 0;
}